.login-page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('@assets/Svg/LoginBg.svg');

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.03;
    z-index: -1;
  }
}

.login-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50%;
  height: 500px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  background-color: var(--login-form-background);
  border: 1px solid var(--login-form-background);
  padding: 20px;

  .form-container-left {
    width: 400px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

    & > svg {
      width: 100%;
      height: 200px;
    }
  }

  .form-container-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    & > h1 {
      display: flex;
      align-items: end;
      margin-bottom: 30px;
      font-size: 24px;

      & > img {
        width: 38px;
        height: 38px;
        margin-right: 10px;
      }
    }

    & > .form-container {
      width: 80%;
    }
  }

  // 大屏幕
  @media (min-width: 992px) and (max-width: 1200px) {
    .form-container-left {
      display: none;
    }
  }

  // 中等屏幕
  @media (min-width: 768px) and (max-width: 992px) {
    .form-container-left {
      display: none;
    }
    .form-container-right {
      & > h1 {
        font-size: 22px;

        & > img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  // 小屏幕
  @media (max-width: 768px) {
    width: 400px;

    .form-container-left {
      display: none;
    }
    .form-container-right {
      & > h1 {
        font-size: 20px;

        & > img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

.theme-switch-container {
  position: absolute;
  font-size: 24px;
  cursor: pointer;
  top: 3%;
  right: 2%;
}
