@import './Reset.scss';
@import './LightTheme.scss';
@import './DarkTheme.scss';
@import './RouteTransition.scss';
@import 'nprogress/nprogress.css';

:root {
  box-sizing: border-box;
  font-size: 14px;
  color: var(--color);
  background-color: var(--background-color);
  transition-property: background, color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

/* 重写进度条颜色，跟随系统主题色 */
#nprogress .bar {
  background: var(--primaryColor);
}

#nprogress .spinner-icon {
  border-top-color: var(--primaryColor);
  border-left-color: var(--primaryColor);
}