:root {
  font-size: 14px;
  color: var(--color);
  background-color: var(--background-color);
  transition-property: background, color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
